
  * {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    touch-action: none; 
  }
  
  body {
    overflow: hidden;
    display: flex;
    background: #111;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #drag-container, #spin-container {
    position: relative;
    display: flex;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    animation: spin 30s infinite linear;
  }
  #drag-container img, #drag-container video {
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    box-shadow: 0 0 8px #fff;
  }
  #drag-container img:hover, #drag-container video:hover {
    box-shadow: 0 0 15px #fffd;
  }
  #drag-container p {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(90deg);
    color: #fff;
  }
  
  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(90deg);
    background: radial-gradient(circle, #9993, transparent);
  }
  
  #music-container {
    position: absolute;
    top: 0;
    left: 0;
  }
#frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #fff;
  box-shadow: 0 0 15px #fff;
  text-align: center;
  display: none; 
  overflow: hidden;
}
#frame.hidden {
  display: none;
}
#frame.visible {
  display: block;
  animation: fadeIn 1s;
}
#frame img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  opacity: 0;
  animation: fadeImage 2s forwards; 
}
@keyframes fadeImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
